*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


header{
    background: red;
    width: 100%;
    height: 20vh;
}

.coponete{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.corpos{
    background: rebeccapurple;
    width: 100%;
    height: 60vh;
}