*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.menu{
    height: 30vh;
    background: purple;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}